localhost
reverse_proxy camunda:8080

# Workflow API Spec: https://app.swaggerhub.com/apis-docs/GovStack/Workflow-BB/1.0.0#/developers

@list_processes {
    path /processes
}

@detail_process {
    path /processes/*
    path_regexp static \/processes\/(\b[\w\W-]+$)
}

@start_process {
    path /processes/*/start
    path_regexp static \/processes\/(\b[\w\W-]+[^/start$])
}

@list_instances {
    path /instances
}

@detail_instance {
    path /instances/*
    path_regexp static \/instances\/(\b[\w-]+$)
}

rewrite @list_processes /engine-rest/process-definition
rewrite @detail_process /engine-rest/process-definition/{re.static.1}
rewrite @start_process /engine-rest/process-definition/{re.static.1}/start
rewrite @list_instances /engine-rest/process-instance
rewrite @detail_instance /engine-rest/process-instance/{re.static.1}

# Mock responses
#respond /test_this "here's the response"

# Catch all
respond / "Do we see anything here?"