localhost
reverse_proxy camunda:8080

# Workflow API Spec: https://app.swaggerhub.com/apis-docs/GovStack/Workflow-BB/1.0.0#/developers

@list_processes {
    path /processes
}

@detail_process {
    path /processes/*
    path_regexp static \/processes\/(\w+)
}

@start_process {
    path /processes/*/start
    path_regexp static \/processes\/(\w+)
}

rewrite /hello /test_this

rewrite /processes /engine-rest/process-definition
rewrite @detail_process /engine-rest/process-definition/{re.static.1}
rewrite @start_process /engine-rest/process-definition/key/{re.static.1}/start

# Mock responses
respond /test_this "here's the response"

# Catch all
respond / "Do we see anything here?"