localhost {
    # @start_specific_follow {
    #     path_regexp url ^/api/start_flow?id=([0-9]+)$
    # }
    @url {
        path_regexp a ^/api/start_flow?id=([0-9]+)$
    }
    rewrite @url /api/processes/{re.a.1}/start
    respond * @url
}