localhost
reverse_proxy n8n:5678

# Workflow API Spec: https://app.swaggerhub.com/apis-docs/GovStack/Workflow-BB/1.0.0#/developers

@list_processes {
    path /processes
}

@detail_process {
    path /processes/*
    path_regexp static \/processes\/(\w+)
}

@start_process {
    path /processes/*/start
    path_regexp static \/processes\/(\w+)
}

@list_instances {
    path /instances
}

@detail_instance {
    path /instances/*
    path_regexp static \/instances\/(\w+)
}

rewrite @list_processes /rest/workflows
rewrite @detail_process /rest/workflows/{re.static.1}
rewrite @start_process /webhook-test/{re.static.1}
rewrite @list_instances /rest/executions
rewrite @detail_instance /rest/executions/{re.static.1}

# Mock responses
# respond /rest/workflows "Here's a list of processes served from '{path}'"
# respond /rest/workflows/{re.static.1} "Here's a single process being served from '{path}'"
# respond /webhook-test/{re.static.1} "You've started a process instance from '{path}'"
# respond /rest/executions "Here's a list of instances served from '{path}'"
# respond /rest/executions/{re.static.1} "Here's a single instance being served from '{path}'"

# Catch all
respond / "Nothing matched."