localhost
reverse_proxy http://127.0.0.1:5678

@list_processes {
    path /processes
}

@detail_process {
    path /processes/*
    path_regexp static \/processes\/(\w+)
}

@start_process {
    path /processes/*/start
    path_regexp static \/processes\/(\w+)
}

@list_instances {
    path /instances
}

@detail_instance {
    path /instances/*
    path_regexp static \/instances\/(\w+)
}

rewrite @start_process /webhook-test/{re.static.1}
rewrite @detail_process /rest/workflows/{re.static.1}
rewrite @detail_instance /rest/executions/{re.static.1}
rewrite @list_processes /rest/workflows
rewrite @list_instances /rest/executions

respond /webhook-test/{re.static.1} "Starting the process {re.static.1}"
respond /rest/workflows/{re.static.1} "Details of the process {re.static.1}"
respond /rest/executions/{re.static.1} "Details of the execution {re.static.1}"
respond /rest/workflows "All processes"
respond /rest/executions "All executions"

respond / "Nothing matched."